.THIS .hms-layout-left {
    width: 60% !important;
    flex: 0 0 60% !important;
    max-width: 60% !important;
}

.THIS .hms-layout-right {
    width: 40% !important;
    flex: 0 0 40% !important;
    max-width: 40% !important;
}

@media (max-width: 767px) {
    .THIS .hms-layout-left,
    .THIS .hms-layout-right {
        width: 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}